<div class="hub">
    <div class="languages-list-container">
        <!-- <cdk-virtual-scroll-viewport *ngIf="settings.shouldDisplayLanguageInCardFormat()" itemSize="50">
            <div *cdkVirtualFor="let language of languages" class="language-item"> -->
                <ng-container *ngIf="settings.shouldDisplayLanguageInCardFormat()">
                    <mat-card *ngFor="let language of languages" class="language-item">
                        <mat-card-title>
                            <mat-card-header>
                                <mat-card-title>{{'commons.translation' | translate}} : {{language.code}}</mat-card-title>
                                <mat-card-subtitle>{{'commons.format' | translate}} : i18n (.json)</mat-card-subtitle>
                                <mat-card-subtitle>{{language.nbTranslations}} {{'commons.translation' + (language.nbTranslations > 1 ? 's' : '') | translate | lowercase}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image mat-card-sm-image [src]="language.getFlagSrc()" alt="Flag {{language.code}}" class="flag" />
                        </mat-card-title>
                        <mat-card-actions layout="row">
                            <app-btn-download-language [languageCode]="language.code"></app-btn-download-language>

                            <div>
                                <button mat-raised-button color="primary" (click)="openLanguage(language.code)" matTooltip="{{'commons.actions.edit' | translate}}" matTooltipPosition="below">
                                    <mat-icon>edit</mat-icon> {{'commons.actions.edit' | translate}}
                                </button>
                                <button mat-raised-button color="warn" (click)="deleteLanguage($event, language.code)" matTooltip="{{'commons.actions.delete' | translate}}" matTooltipPosition="below">
                                    <mat-icon>delete_outline</mat-icon> {{'commons.actions.delete' | translate}}
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
            <!-- </div>
        </cdk-virtual-scroll-viewport> -->

        <mat-list *ngIf="settings.shouldDisplayLanguageInListFormat()">
            <mat-list-item *ngFor="let language of languages" class="language-item" (click)="openLanguage(language.code)">
                <img matListItemIcon [src]="language.getFlagSrc()" alt="Flag {{language.code}}" class="flag"/> <span>{{language.code}}</span>
                <p matListItemTitle>{{language.code | translate}}</p>
                <p matListItemLine>{{language.nbTranslations}} {{'commons.translation' + (language.nbTranslations > 1 ? 's' : '') | translate | lowercase}}</p>

                <div>
                    <app-btn-download-language [languageCode]="language.code"></app-btn-download-language>
                    <button mat-icon-button color="warn" (click)="deleteLanguage($event, language.code)" matTooltip="{{'commons.actions.delete' | translate}}" matTooltipPosition="below">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>

        <app-message-no-language *ngIf="languages?.length === 0"></app-message-no-language>
    </div>

    <mat-card class="add-language-container">
        <img mat-card-image src="/assets/images/languages.jpg" alt="">
        <mat-card-header>
            <mat-card-title>{{'pages.hub.addLanguage' | translate}}</mat-card-title>
        </mat-card-header>
        <form #addLanguageForm="ngForm" (ngSubmit)="addLanguage()">
            <mat-card-content>
                <mat-form-field>
                    <label><mat-icon>language</mat-icon> {{'commons.language' | translate}}</label>
                    <input matInput type="text" name="code" ngModel placeholder="fr-CA" minlength="5" maxlength="5" pattern="[a-z]{2}-[A-Z]{2}" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button type="submit" color="primary" [disabled]="!addLanguageForm.form.valid">
                    <mat-icon>add</mat-icon> {{'commons.actions.add' | translate}}
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

