<mat-card class="mb-2">
    <mat-card-title>
        <mat-card-header>
            <mat-card-title *ngIf="translations">{{(translations.length > 1 ? 'commons.translations' : 'commons.translation') | translate}}</mat-card-title>
        
            <button mat-mini-fab color="primary" (click)="addTranslation()" matTooltip="{{'commons.actions.add' | translate}}" matTooltipPosition="below">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>
    </mat-card-title>
</mat-card>

<mat-card *ngFor="let translation of translations" class="translation-container mb-2">
    <mat-card-content>
        <app-translation 
            [languages]="languages"
            [translation]="translation"
            (TranslationComponentDidDeleteTranslationEvent)="onDeleteTranslation($event)"
            (TranslationComponentDidDuplicateTranslationEvent)="onDuplicateTranslation($event)"
            (TranslationComponentDidGeneratePluralTranslationEvent)="onGeneratePluralTranslation($event)"
            (TranslationComponentDidMoveTranslationEvent)="onMoveTranslation($event)"
            (TranslationComponentDidSaveTranslationEvent)="onSaveTranslation($event)"
        ></app-translation>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="translations?.length === 0" class="mb-2">
    <mat-card-content>
        <p>{{'commons.noTranslation' | translate}}</p>
    </mat-card-content>
</mat-card>