mat-card-header {
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.add-translation {
    position: sticky;
    top: 5rem;
    z-index: 500;
}

.translation-container .mat-mdc-card-content {
    padding: 0 1rem;
}