<mat-card>
    <mat-card-title>
        <mat-card-header>
            <mat-card-title *ngIf="translations">{{(translations.length > 1 ? 'commons.translations' : 'commons.translation') | translate}}</mat-card-title>
        
            <button mat-mini-fab color="primary" (click)="addTranslation()" matTooltip="{{'commons.actions.add' | translate}}" matTooltipPosition="below">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>
    </mat-card-title>

    <mat-card-content>
        <ng-container *ngFor="let translation of translations">
            <app-translation 
                [languages]="languages"
                [translation]="translation"
                (TranslationComponentDidDeleteTranslationEvent)="onDeleteTranslation($event)"
                (TranslationComponentDidDuplicateTranslationEvent)="onDuplicateTranslation($event)"
                (TranslationComponentDidGeneratePluralTranslationEvent)="onGeneratePluralTranslation($event)"
                (TranslationComponentDidMoveTranslationEvent)="onMoveTranslation($event)"
                (TranslationComponentDidSaveTranslationEvent)="onSaveTranslation($event)"
            ></app-translation>
        </ng-container>

        <p *ngIf="translations?.length === 0">{{'commons.noTranslation' | translate}}</p>
    </mat-card-content>
</mat-card>