<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideMenu()" aria-label="App menu" matTooltip="{{'commons.menu' | translate}}" matTooltipPosition="below">
    <mat-icon>menu</mat-icon>
  </button>

  <h2 flex md-truncate class="breadcrumb">
    @for (breadcrumbLevel of breadcrumbs; track breadcrumbLevel; let first = $first) {
      @if (first) {
        <a [href]="breadcrumbLevel.href">
          <span>{{breadcrumbLevel.label | translate}}</span>
        </a>
      }
      @if (!first) {
        <a (click)="goToLevel(breadcrumbLevel)">
          <span> {{breadcrumbLevel.label}}</span>
        </a>
      }
    }
  </h2>
</mat-toolbar>
