<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideMenu()" aria-label="App menu" matTooltip="{{'commons.menu' | translate}}" matTooltipPosition="below">
        <mat-icon>menu</mat-icon>
    </button>

    <h2 flex md-truncate class="breadcrumb">
        <a *ngFor="let breadcrumbLevel of breadcrumbLevels; let first = first" [href]="breadcrumbLevel.href">
            <span *ngIf="first">{{breadcrumbLevel.label | translate}}</span><span *ngIf="!first"> {{breadcrumbLevel.label}}</span>
        </a>
    </h2>

    <span class="spacer"></span>
</mat-toolbar>

<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showSideNav">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showSideNav = !showSideNav" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container> -->