<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideMenu()" aria-label="App menu" matTooltip="{{'commons.menu' | translate}}" matTooltipPosition="below">
        <mat-icon>menu</mat-icon>
    </button>

    {{breadcrumbs | json}}

    <h2 flex md-truncate class="breadcrumb">
        <a *ngFor="let breadcrumb of breadcrumbs; let first = first" [href]="breadcrumb.href">
            <span *ngIf="first">{{breadcrumb.label | translate}}</span><span *ngIf="!first"> {{breadcrumb.label}}</span>
        </a>
    </h2>
</mat-toolbar>
