mat-card-header {
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.add-translations-group {
    position: sticky;
    top: 5rem;
    z-index: 500;
}

.translations-group {
    mat-card-content {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
            padding-top: 0;
            padding-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .actions-container {
        display: flex;
        justify-content: end;
    }
}