<div class="translations-level">
    <!-- <div flex-xs flex-gt-xs="25" flex-gt-lg="15" flex-lg="15" layout="column">
        <app-swap></app-swap>
    </div> -->

    <div class="translations-groups-container">
        <app-translations-groups
            [languages]="languages"
            [translations]="translations"
            [translationsGroups]="translationsGroups"
            (TranslationsGroupsComponentDidOpenGroupEvent)="onOpenTranslationGroup($event)"
        ></app-translations-groups>
    </div>

    <div class="translations-container">
        <app-translations
            [languages]="languages"
            [translations]="translations"
        ></app-translations>
    </div>
</div>

<button mat-raised-button color="primary" class="btn-back" (click)="goToBack()">
    <mat-icon>reply</mat-icon> {{'commons.actions.return' | translate}}
</button>

<!-- <app-go-to-top></app-go-to-top> -->
