.translations-level {
    display: flex;
    height: calc(100% - 96px); // 64 px toolbar + 16 px * 2 for gutters
    margin: 1rem 15%;

    .translations-groups-container, .translations-container {
      flex: 1;
    }

    .translations-groups-container {
      margin-right: 1rem;
    }
}

.btn-back {
  position: sticky;
  bottom: 1rem;
  left: 1rem;
}